
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    .header-bg {
      position: relative;
      background-image: url('header-bg.jpg');
      background-size: cover;
      background-position: center;
      padding: 20px;
      text-align: center;
      color: #fff;
      z-index: 0;
    }

    .header-content {
      position: relative;
      z-index: 1;
      background-image: url("images/chicken.jpg");
    
      


      
    }

    h1 {
      color:rgb(43, 0, 255);
      margin: 0;
      font-size: 42px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 2px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      text-align: center;
    }
    h2{
      text-align: center;
      font-style: oblique;
    }

    p {
      margin: 10px 0 0;
      text-align: center;
      font-size: larger;
    }

    nav {
      background-color:goldenrod;
      color: #fff;
      padding: 10px;
      text-align: center;
    }

    nav a {
      color: #fff;
      text-decoration: none;
      margin: 0 10px;
      transition: color 0.3s ease;
    }

    nav a:hover {
      color: #ff6347;
    }

    main {
      padding: 20px;
      background-color: lightgrey;
    }

    .dish {
      display: inline-block;
      width: 300px;
      margin: 10px;
      padding: 40px;
      border: 1px solid ;
      border-radius: 10px;
      text-align: center;
      transition: box-shadow 0.3s ease;
      position: relative;
      z-index: 1;
    }

    .dish:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .dish img {
      width: 250px;
      height: 150px;
      margin-bottom: 10px;
      border-radius: 5px;
      display: flex;
      
      
    }

    .dish h2 {
      margin: 0;
      color: #333;
    }

    .dish p {
      color: #666;
    }

    footer {
      background-color:white;
      color:#fff;
      padding: 20px;
      
      
    }

    footer p {
      margin: 0;
      text-align: left;
      color:black;
    }

    .footer-links {
      margin-top: 10px;
      padding: 20px;
    }

    .footer-links a {
      color: #fff;
      text-decoration: none;
      margin: 0 10px;
      display: inline-block;
      transition: box-shadow 0.3s ease;
      padding: 20px;
    }
    .footer-links img{
      width: 30px;
      display:inline-flex;
      padding-left: 50px;
      transition: box-shadow 0.3s ease;
    }
    .payment,.socials{
      padding-top: 5px;
      border:1px solid;
      display:inline-flex;
    }
    .toplink{
      color:blue;
    }
